
body{
    margin:0 auto;
}

div[data-role="page"]{
    height:100%;
}

div[data-role="main"]{
    height:85%;
}

.ui-page {
    background-color: #FFF9D9 !important;
    max-width:400px;
    margin:0 auto;
}

.ui-header p{
    font-size: 1.3em;
    font-weight: 100;
    margin-top: 15px;

}


#pageone .back_btn {
    background-image: url(../images/back-home.svg);
    background-position: center;
    background-size: 66%;
}

/*
font-family: 'almoni_dl_bold';
font-family: 'almoni_dl_light';*/

body *{
    /*    font-family: 'almoni_dl_regular';*/
    /*    font-family: 'Heebo', sans-serif;*/

    font-family: 'almoni_dl_aaaregular', sans-serif;
    text-align: center;
}

h1{
    font-family: 'almoni_dl_aaabold', sans-serif;
    background-color: #84353b;
    color: #fff9d9;
    text-shadow: none;
    width: 100% !important;
    margin: 0 !important;
    font-size: 1.4em !important;
}
#pageone h1{
    background-color:#350211;
}


.selected_part{
    opacity:1 !important;
}

.opacity{
    opacity:0.15;
}

.ui-header{
    display: block;
    height: 15%;
    background-color: #fff9d9 !important;
    border-bottom: none !important;
}

.ui-content{
    padding:0 !important;
    position: relative;
    height: 100%;
    display: block;
}


#rightGlove{
    left: 20%;
    position: absolute;
}

#leftGlove{
    right: 20%;
    position: absolute;
    top: 0%;
    top: 0%;
}
/* /////////////////////////////////////// DATA PARTS //////////////////////////////////// */
.data_parts_wraper{
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.data_part{
    background-color: white;
    border-radius: 5px;
    border: 3px solid #350211;
    width: 65%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: none;
    padding: 0 10px;
}

.data_part h3{
    color: #842139;
}


/* /////////////////////////////////////// VISITED   //////////////////////////////////// */

.visited  + .check_sign, .visited .check_sign   {
    transform:scale(1.1);
}



.check_sign{
    height: 20px;
    position: absolute;
    width: 20px;
    transform:scale(0);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.parts, .parts img{
    height:100%;
    display:block;
    margin: 0 auto;
}

.helmet_wrap{
    height: 9%;
    right: 50%;
    transform: translate(50%);
    top: 5%;
    position: absolute;
}

.glasses_wrap {
    height: 9.5%;
    top: 16%;
    position: absolute;
    right: 50%;
    transform: translate(50%);  
}



.suit_wrap {
    height: 48%;
    position: absolute;
    right: 50%;
    transform: translate(50%);
    top: 30%; 
}

.shoes_wrap {
    top: 81%;
    height: 13%;
    position: absolute;
    right: 50%;
    transform: translate(50%);
}

.gloves_wrap{
    height: 13%;
    top: 55%;
    position: absolute;
    width: 100%;
}

.helmet_wrap .check_sign{
    top: 10%;
    left: 10%;
}


.glasses_wrap .check_sign{
    top: 15%;
    right: -9%;
}


.suit_wrap .check_sign{
    top: 0;
    right: 19%;

}

.gloves_wrap .check_sign{
    top: 0;
    right: 20%;
}

.shoes_wrap .check_sign{
    top: -7px;
    right: 29%;
}
/*////////////////////*/

.check_sign.visited{
    transform:scale(1.1);
}

/* /////////////////////////////////////// HELMET //////////////////////////////////// */

.orange-text{
    color:darkorange;
}

.back_btn{
    background-image: url(../images/back.svg);
    background-repeat: no-repeat;
    background-color: transparent !important;
    border: transparent !important;
    height: 3vh !important;
    width: 4vh !important;
    top: 1.6vh !important;
    box-shadow:none !important;
    transform: scaleX(-1);   
    left: 83vw !important;

}


#pagetwo #helmet, .helmet_parts #helmet{
    height: 34%;
    top: 10%;
    left: 3%;
    position: absolute;
    margin-top: 0;
}

.hotspot{
    height: 2.7vh;
    width: 2.7vh;
    background-color: #f8b83e;
    border-radius: 50%;
    border: 3px solid #fef7d8;;
    position:absolute;

}

.hotspot.visited{
    background-image: url(../images/visited.svg);
    background-size: 120%;
    background-position: center center;
    background-color: #fef7d8;
}

#pagetwo .helmet_hotspot{
    background-image: url(../images/helmet.png);
    height: 73%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    margin-top: 70px;
}


#helmet_hotspot_1{
    top: 7%;
    left: 45%;
}

#helmet_hotspot_2{
    top: 19%;
    right: 17%;
}


#helmet_hotspot_4{
    top: 48%;
    right: 12%;
}

#helmet_hotspot_5{
    top: 38%;
    left: 13%;
}


.helmet_parts p
{
    direction: rtl;
    background-color: white;
    margin: 0 14%;
    padding: 3%!important;
    border-radius: 5px;
    border: 3px solid #842139;
    box-sizing: border-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 92%;
}


#helmet_5_pop p{
    background-image: url(../images/helmet_photo/rotary.jpg);
}


#helmet_4_pop p{
    background-image: url(../images/helmet_photo/glasses.jpg);
}

#helmet_2_pop p{
    background-image: url(../images/helmet_photo/torch.jpg);
}

#helmet_1_pop p{
    background-image: url(../images/helmet_photo/damping.jpg);
}


.helmet_parts p b
{
    margin-bottom: -7px;
    display: block;
    font-size: 1.2em;
}


/* /////////////////////////////////////// GLOVES //////////////////////////////////// */
#gloves_page .gloves_hotspot{
    background-image: url(../images/glove.png);
    height: 73%;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    margin-top: 70px;
}


#gloves_page #rightGlove {
    float: left;
    transform: rotate(90deg) scaleY(-1);
    position: absolute;
    top: 0%;
    height: 60%;
    left: 7%;
}

#gloves_hotspot_1{
    top: 15%;
    right: 60%;
}

#gloves_hotspot_2{
    top: 59%;
    right: 30%;
}

/* /////////////////////////////////////// GLASSES //////////////////////////////////// */
#glasses_page .glasses_hotspot{
    background-image: url(../images/glasses.png);
    height: 73%;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    margin-top: 70px;
}

#glasses_hotspot_1{
    top: 50%;
    left: 6%;
}

#glasses_page #glasses{
    position: absolute;
    top: 10%;
    left: 3%;
    height: 36%;
}

/* /////////////////////////////////////// SUIT //////////////////////////////////// */

#suit_page .suit_hotspot{
    background-image: url(../images/suit.png);
    height: 100%;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    /*    margin-top: 70px;*/
}

#suit_page #suit{
    position: absolute;
    top: 4%;
    left: 4%;
    height: 48%;
}


#suit_hotspot_1 {
    top: 21%;
    right: 36%;
}

#suit_hotspot_2 {
    top: 64%;
    right: 59%;
}

/* /////////////////////////////////////// SHOES //////////////////////////////////// */

#shoes_page .shoes_hotspot{
    background-image: url(../images/boots.png);
    height: 73%;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    margin-top: 70px;
}

#shoes_page #shoes{
    position: absolute;
    top: 14%;
    height: 34%;
    left: 4%;
}

#shoes_hotspot_1{   
    top: 81%;
    right: 18%;
}

#shoes_hotspot_2{   
    top: 46%;
}

#shoes_hotspot_3{   
    top: 17%;
    right: 14%;
}
